
<div class="container">
	<h1 class="text-center">Triqui!</h1>
	<div class="alert alert-success text-center d-none" id="playerContainer" role="alert">
	  <h2>
	  	¡Felicidades Ganaste <span id="player"></span>!
	  </h2><br>
	  <button class="btn btn-info" onclick="window.location.reload()">Reiniciar</button>
	</div>
	<div class="row">
		<div class="col-4 p-0"><input type="text" name="pos-1" id="pos-1" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-2" id="pos-2" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-3" id="pos-3" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-4" id="pos-4" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-5" id="pos-5" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-6" id="pos-6" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-7" id="pos-7" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-8" id="pos-8" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
		<div class="col-4 p-0"><input type="text" name="pos-9" id="pos-9" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (keyup)="checkTriqui($event)"></div>
	</div>
</div>